#container {
    height: 510px;
    width: 550px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.tuiles {
    height: 50px;
    width: 50px;
}
#cartman {
    position: relative;
    top: 0;
    left: 0;
}
#superkraig {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}