body{
	background-color: #306A51;
	background-image: url(montagne5.png);
	background-repeat: repeat;    
}
#container {
    height: 800px;
    width: 800px;
    position: relative;

    display: flex;
    flex-wrap: wrap;
}
#cartman {
    position: absolute;
    top: 0;
    left: 0;
}
#superkraig {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}
#ennemi {
    position: absolute;
    top: 200px;
    left: 200px;
}
.tuiles {
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: red;
}